<body>
    <form>
        <h1>Welcome, <%= name %></h1> <!-- = for output -->
        <p>Age: <%= age %></p>
        <p>Skills: <%= skills %></p>
        <p>Interests: <%= interest %></p>
    </form>
</body>